---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("December 25 2004")}
  heroImage="/perfil.jpeg"
>
  <iframe
    width="680"
    height="315"
    src="https://www.youtube.com/embed/DBvCYtUvXm4?si=FFzNB5U1bfNy-DxK&controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <p>
    <div id="About_me">
      <h1>¿Quién Soy?</h1>
    </div>
    Soy un programador apasionado por el aprendizaje autodidacta. Cada línea de código
    que escribo no es solo el resultado de una carrera universitaria, sino el reflejo
    de mi creatividad, experiencia y el constante deseo de innovar. Mi conocimiento
    no proviene únicamente del aula, sino de las oportunidades que he buscado y aprovechado:
    hackathones, desarrollo de proyectos propios y certificaciones que me han permitido
    crecer y fortalecerme en el mundo tecnológico. Para mí, programar no es solo
    una habilidad, es una forma de pensar, resolver problemas y materializar ideas.
    🚀
  </p>
</Layout>
