---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🇲🇽 Hi, Welcome</h1>
      <h2>¿Quién Soy?</h2>
      <p>
        ¡Hola! Mi nombre es José Raúl, soy un estudiante de TIC'S con amor por
        la tecnología y un deseo ferviente de compartir mi vida y mis pasiones
        con las futuras generaciones. Desde siempre, me ha fascinado la idea de
        utilizar cualquier recurso para documentar y fomentar la cultura a
        través de mis experiencias y conocimientos.
      </p>
      <p>
        A través de este blog, espero compartir mis experiencias, conocimientos
        y pasiones con todos ustedes. Mi objetivo es crear un espacio donde
        podamos aprender, divertirnos y crecer juntos. ¡Bienvenidos a mi mundo!
      </p>
      <p>
        Conoceme un poco más en mi sitio web personal <a
          href="https://blogofchasee.netlify.app"
          target="_blank"
        >
          Sitio Web</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
